*,
body,
P {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(211, 231, 243);
}

main {
  display: flex;
  height: 100%;
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  background-color: white;
  height: 60%;
  width: 35%;
  border-radius: 1%;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #343a40;
}

h4 {
  position: absolute;
  top: 33%;
  color: #6c757d;
}

input {
  border: 1px solid #bdc4c9;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 70%;
  padding-bottom: 5px;
  position: relative;
  top: 5%;
}

.forgot-pw {
  position: absolute;
  right: 38%;
  top: 51%;
  font-size: 12px;
  color: #808488;
}

button {
  background-color: rgb(81, 162, 229);
  border: none;
  width: 71%;
  padding: 10px;
  color: white;
}

a {
  text-decoration: none;
}

h5 {
  color: #808488;
  position: absolute;
  left: 43%;
  top: 71%;
}
